.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.body {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.main {
  flex: 1;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: calc(1.5rem + 80px); /* footer */
  margin-top: 68px;
  
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  min-width: 0;
  min-height: 0;
  transition: margin-left 0.3s ease;
}

.mainCollapsed {
  margin-left: 60px;
}

@media (min-width: 768px) {
  .main{
    margin-left:260px;
  }
}

.pullLoader {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  background: #1f2937;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 9999;
  transition: top 0.25s ease;
}

.pullLoader.show {
  top: 64px;
}


.expiredWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
    url("/Assets/subcriptionExpired.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.expiredWrapper h1{
  color: #fff;
}
.expiredWrapper p{
  color: #d4d4d4;
}
